<input type="number" min="0" max="24" [(ngModel)]="duration" />

<p *ngIf="duration <= 0">We don't currently help for moves of less than 1 hour.</p>

<p *ngIf="duration > 8">
  We don't currently help for moves of more than 8 hours without approval. Chat
  with us below or call us at (514) 612-8402 and let's see what we can do to
  accomodate your needs!
</p>

<p>
  Moving takes longer than expected. Chat with us if you need help estimating
  the duration required.
</p>

<p>
  Click
  <a href="https://movemate.ca/instant-moving-quote/" target="_blank">here</a>
  to try our new Move estimation tool!
</p>

<button (click)="nextStep()" [disabled]="duration <= 0 || duration > 8">
  Next
</button>
