<div class="container">
  <p>Pickup Location</p>
  <div class="d-flex justify-content-center">
    <input type="text" [(ngModel)]="pickupAddress" />
  </div>

  <ng-template [ngIf]="pickupAddress">
    <p>Apt, suite, etc. (optional)</p>
    <div class="d-flex justify-content-center">
      <input type="text" [(ngModel)]="pickupAddressDetails" />
    </div>

    <div class="d-flex justify-content-center">
      <input
        type="checkbox"
        name="hasElevator"
        [checked]="pickupHasElevator"
        (change)="pickupHasElevator = !pickupHasElevator"
      />
      <label for="hasElevator">There is an elevator at this location</label
      ><br />
    </div>

    <ng-template [ngIf]="pickupHasElevator" [ngIfElse]="none">
      <p>
        Please make sure to reserve the elevator for the duration of the move.
      </p>
    </ng-template>
    <ng-template #none>
      <div class="d-flex justify-content-center">
        <input type="number" min="1" max="100" [(ngModel)]="pickupFloor" />
      </div>
    </ng-template>
  </ng-template>

  <div class="d-flex justify-content-center">
    <button
      class="movemate-btn"
      (click)="nextStep()"
      [disabled]="!pickupAddress"
    >
      Next
    </button>
  </div>
</div>
