<div>
  <div id="stepProgressBar">
    <div
      class="step"
      *ngFor="let type of currentType; let i = index"
      (click)="setCurrentStep(i)"
    >
      <div
        class="bullet"
        [class.completed]="i < step"
        [class.active]="i == step"
        [class.inactive]="i > latestStepCompleted"
      >
        {{ i + 1 }}
      </div>
    </div>
  </div>
</div>

<div [ngSwitch]="getCurrentStep()">
  <div *ngSwitchCase="'duration'">
    <app-duration
      [durationInput]="bookingData.duration"
      (onUpdateBookingData)="nextStep($event)"
    ></app-duration>
  </div>
  <div *ngSwitchCase="'schedule'">
    <app-schedule
      [selectedDateInput]="bookingData.selectedDate"
      [selectedTimeInput]="bookingData.selectedTime"
      (onUpdateBookingData)="nextStep($event)"
    ></app-schedule>
  </div>
  <div *ngSwitchCase="'helpers'">
    <app-helpers (onUpdateBookingData)="nextStep($event)"></app-helpers>
  </div>
  <div *ngSwitchCase="'contact'">
    <app-contact (onUpdateBookingData)="nextStep($event)"></app-contact>
  </div>
  <div *ngSwitchCase="'pickup'">
    <app-pickup
      [pickupAddressInput]="bookingData.pickupAddress"
      [pickupFloorInput]="bookingData.pickupFloor"
      [pickupAddressDetailsInput]="bookingData.pickupAddressDetails"
      [pickupHasElevatorInput]="bookingData.pickupHasElevator"
      (onUpdateBookingData)="nextStep($event)"
    ></app-pickup>
  </div>
  <div *ngSwitchCase="'dropoff'">
    <app-dropoff
      [dropoffAddressInput]="bookingData.dropoffAddress"
      [dropoffFloorInput]="bookingData.dropoffFloor"
      [dropoffAddressDetailsInput]="bookingData.dropoffAddressDetails"
      [dropoffHasElevatorInput]="bookingData.dropoffHasElevator"
      (onUpdateBookingData)="nextStep($event)"
    ></app-dropoff>
  </div>
  <div *ngSwitchCase="'comments'">
    <app-comments (onUpdateBookingData)="nextStep($event)"></app-comments>
  </div>

  <div *ngSwitchCase="'quote'">
    <app-quote (onUpdateBookingData)="nextStep($event)"></app-quote>
  </div>

  <div *ngSwitchDefault>Other String</div>
</div>
