.bg {
  // Montreal Skyline Digital Art by Michael Tompsett
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/montreal-skyline-michael-tompsett.jpg");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
